@font-face {
    font-family: 'Crimson Pro';
    src: url('CrimsonPro-Regular.eot');
    src: url('CrimsonPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('CrimsonPro-Regular.woff2') format('woff2'),
        url('CrimsonPro-Regular.woff') format('woff'),
        url('CrimsonPro-Regular.ttf') format('truetype'),
        url('CrimsonPro-Regular.svg#CrimsonPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

