
<div class="relative center">

  <div
    id="carouselDarkVariant"
    class="relative shadow-2xl bg-white rounded-md headshot-carousel-container"
    data-twe-carousel-init
    data-twe-ride="carousel">
    <!-- Carousel indicators -->
    <div
      class="absolute inset-x-0 bottom-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
      data-twe-carousel-indicators>
      <button
        data-twe-target="#carouselDarkVariant"
        data-twe-slide-to="0"
        data-twe-carousel-active
        class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
        aria-current="true"
        aria-label="Slide 1"></button>
      <button
        data-twe-target="#carouselDarkVariant"
        class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
        data-twe-slide-to="1"
        aria-label="Slide 1"></button>
      <button
        data-twe-target="#carouselDarkVariant"
        class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
        data-twe-slide-to="2"
        aria-label="Slide 1"></button>
    </div>

    <!-- Carousel items -->
    <div
      class="relative overflow-hidden after:clear-both after:block after:content-['']">

      <!-- Spacing items - all items but set to hidden so that text etc is not cut off -->
      <div
        class="headshot-carousel-spacing relative float-left -mr-[100%] w-full">
        <img
          class="headshot-carousel"
          src="images/headshots/ash-thin.jpg"/>
        <div class="tarnach-paragraph">
          <p class="tarnach-p-gold italic">
            Ashley Edwards - Piano/Caller
          </p>
          <p class="tarnach-p">
            Originally from Edinburgh, Ashley grew up playing trombone and taking part in many brass band competitions. He taught himself piano from a young age and following that guitar. 
          </p>
          <p class="tarnach-p">
            Ashley is a graduate of the University of Aberdeen where he studied as a first study trombonist. Ashley also has a particular passion for conducting and led the Aberdeen University Concert Band during his time at university. Ashley graduated with a Bachelor of Music with Education degree and now he teaches music.  
          </p>
        </div>
      </div>
      <div
        class="headshot-carousel-spacing relative float-left -mr-[100%] w-full">
        <img
          class="headshot-carousel"
          src="images/headshots/ian-thin.jpg"/>
        <div class="tarnach-paragraph">
          <p class="tarnach-p-gold italic">
            Ian Christie - Percussion/Caller
          </p>
          <p class="tarnach-p">
            Ian graduated from the University of Aberdeen in June 2018, specialising in percussion performance. After graduating Ian completed a masters in percussion performance in Las Vegas, USA before returning to Scotland in 2020. 
          </p>
          <p class="tarnach-p">
            Ian now works with Fife council, teaching percussion and drum kit to primary and secondary pupils, as well as teaching privately. Professionally, Ian is a session musician and has experience playing in a variety of different musical settings including: orchestras, brass bands, theatre pits and cèilidh bands. 
          </p>
        </div>
      </div>
      <div
        class="headshot-carousel-spacing relative float-left -mr-[100%] w-full">
      <img
          class="headshot-carousel"
          src="images/headshots/ross-thin.jpg"/>
        <div class="tarnach-paragraph">
          <p class="tarnach-p-gold italic">
            Ross Clark - Fiddle
          </p>
          <p class="tarnach-p">
            Ross is a dynamic fiddle player hailing from Inverness. Introduced to traditional music at an early age, he draws inspiration from his Highland roots as well as from the traditions of Ireland and Cape Breton. 
          </p>
          <p class="tarnach-p">
            Since 2018 he has been immersed in the vibrant music scene of Glasgow, where he plays regularly at cèilidhs and sessions.
          </p>
        </div>
      </div>

      <!-- First item -->
      <div
        class="ash relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
        data-twe-carousel-item
        data-twe-interval="10000"
        data-twe-carousel-active>
        <img
          class="headshot-carousel nozoom"
          src="images/headshots/ash-thin.jpg"/>
        <div class="tarnach-paragraph">
          <p class="tarnach-p-gold italic">
            Ashley Edwards - Piano/Caller
          </p>
          <p class="tarnach-p">
            Originally from Edinburgh, Ashley grew up playing trombone and taking part in many brass band competitions. He taught himself piano from a young age and following that guitar. 
          </p>
          <p class="tarnach-p">
            Ashley is a graduate of the University of Aberdeen where he studied as a first study trombonist. Ashley also has a particular passion for conducting and led the Aberdeen University Concert Band during his time at university. Ashley graduated with a Bachelor of Music with Education degree and now he teaches music.  
          </p>
        </div>
      </div>
      <!-- Second item -->
      <div
        class="ian relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
        data-twe-interval="10000"
        data-twe-carousel-item>
        <img
          class="headshot-carousel nozoom"
          src="images/headshots/ian-thin.jpg"/>
        <div class="tarnach-paragraph">
          <p class="tarnach-p-gold italic">
            Ian Christie - Percussion/Caller
          </p>
          <p class="tarnach-p">
            Ian graduated from the University of Aberdeen in June 2018, specialising in percussion performance. After graduating Ian completed a masters in percussion performance in Las Vegas, USA before returning to Scotland in 2020. 
          </p>
          <p class="tarnach-p">
            Ian now works with Fife council, teaching percussion and drum kit to primary and secondary pupils, as well as teaching privately. Professionally, Ian is a session musician and has experience playing in a variety of different musical settings including: orchestras, brass bands, theatre pits and cèilidh bands. 
          </p>
        </div>
      </div>
      <!-- Third item -->
      <div
        class="ross relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
        data-twe-interval="10000"
        data-twe-carousel-item>
      <img
          class="headshot-carousel nozoom"
          src="images/headshots/ross-thin.jpg"/>
        <div class="tarnach-paragraph">
          <p class="tarnach-p-gold italic">
            Ross Clark - Fiddle
          </p>
          <p class="tarnach-p">
            Ross is a dynamic fiddle player hailing from Inverness. Introduced to traditional music at an early age, he draws inspiration from his Highland roots as well as from the traditions of Ireland and Cape Breton. 
          </p>
          <p class="tarnach-p">
            Since 2018 he has been immersed in the vibrant music scene of Glasgow, where he plays regularly at cèilidhs and sessions.
          </p>
        </div>
      </div>
          <!-- Carousel controls - prev item-->
  <button
    class="headshot-carousel-control absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-black hover:no-underline hover:opacity-90 hover:outline-none focus:text-black focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    data-twe-target="#carouselDarkVariant"
    data-twe-slide="prev">
    <span class="inline-block h-8 w-8 dark:grayscale">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Previous</span
    >
  </button>

  <!-- Carousel controls - next item-->
  <button
    class="headshot-carousel-control absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-black hover:no-underline hover:opacity-90 hover:outline-none focus:text-black focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    data-twe-target="#carouselDarkVariant"
    data-twe-slide="next">
    <span class="inline-block h-8 w-8 dark:grayscale">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Next</span
    >
  </button>
    </div>
  </div>
</div>