<div class="mt-6 mb-6 center flex flex-wrap">
    <p class="italic">
        We are listed by:
    </p>
    <div class="center">
        <a href="https://www.wed2b.com/wedding-suppliers/tarnach-ceilidh-band">
            <img class="directory-img h-18 nozoom" src="images/directories/wed2b.jpeg">
            </img>
        </a>
        <a href="https://tietheknot.scot/supplier/tarnach-ceilidh-band">
            <img class="directory-img h-8 nozoom"  src="images/directories/ttks.webp">
            </img>
        </a>
    </div>
</div>