<div class="mt-6 mb-6 center flex text-4xl flex-col">
    <p class="tarnach-p-gold text-base" style="text-align:center; max-width:30ch;">
        {{ .Inner }}
    </p>
{{ with .Site.Params.Author.links }}
    <div class="flex flex-wrap">
    {{ range $links := . }}
        {{ range $name, $url := $links }}
        <a
            class="text-secondary-600 hover-change dark:text-primary-200 px-1"
            href="{{ $url }}"
            target="_blank"
            aria-label="{{ $name | title }}"
            title="{{ $name | title }}"
            rel="me noopener noreferrer">
            {{ partial "icon.html" $name }}
        </a>
        {{ end }}
    {{ end }}
    </div>
{{ end }}
</div>